
bin
include
lib
*.swp
*.egg-info
__pycache__
.coverage
*.pyc
*.pyo
.ropeproject
parser.out
parsetab.py
terms.tgz
terms/core/log/
codepickle
MANIFEST
build/
dist/
lextab.py
*.sqlite3
local_settings.py
.installed.cfg
develop-eggs/
eggs/
